---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <br>
  <img src="https://cdn.jsdelivr.net/gh/77ImageHosting/repo1@master/uPic/jiaopengyou.jpg">
  
  {% include gitalk.html %}

</div>
